
params {

subset_number = 5000
clockfilteriqd = 10
alignment_ref = '/home/mwatson/COVID-19/reference/reference.gb'
metadata = '/home/mwatson/COVID-19/nextstrain_build/June_16_2021/Nextstrain_metadata_160621.csv'
output_dir = '/home/mwatson/COVID-19/one_off/June_2021/28_06_21/nexflow_iterations_5000_2/'
colortsv = '/home/mwatson/COVID-19/nextstrain_build/config/colors_2.tsv'
config = '/home/mwatson/COVID-19/nextstrain_build/config/auspice_config.json'
latlong = '/home/mwatson/COVID-19/nextstrain_build/config/lat_ontario_health_unit.tsv'
clades = '/home/mwatson/COVID-19/nextstrain_build/clades.tsv'
// threads set to auto uses the total number of cores for each process of align and tree
threads = 1
cleanup = true
start_iteration = 10
stop_iteration = 12
clock = 10
lineages = ['P.1.1', 'A.23.1']
lineage_report = '/NetDrive/Projects/COVID-19/Other/master_fasta/lineage_report_all*'
master_fasta = '/NetDrive/Projects/COVID-19/Other/master_fasta/complete*'

}


// https://nf-co.re/usage/configuration#tuning-workflow-resources
process {
    withLabel: 'med_mem' {
    cpus = 1
    memory = 1.GB
    executor = 'local'
  }
}


executor {
      name = 'local'
      cpus = 50
      memory = 100.GB
}

