
params {

help = false
subset_number = 100
clockfilteriqd = 10
alignment_ref = '/home/mwatson/COVID-19/reference/reference.gb'
metadata = '/home/mwatson/COVID-19/nextstrain_build/metadata/Nextstrain_metadata_070921_full.csv'
output_dir = '/home/mwatson/COVID-19/one_off/augur_test_2'
colortsv = '/home/mwatson/COVID-19/BCC_dev/BCC_nextstrain/config/colors_2.tsv'
config = '/home/mwatson/COVID-19/BCC_dev/BCC_nextstrain/config/auspice_config.json'
latlong = '/home/mwatson/COVID-19/BCC_dev/BCC_nextstrain/config/lat_ontario_health_unit.tsv'
clades = '/home/mwatson/COVID-19/BCC_dev/BCC_nextstrain/config/clades.tsv'
// threads set to auto uses the total number of cores for each process of align and tree
threads = 1
cleanup = true
start_iteration = 1
stop_iteration = 10
clock = 10
// example lineages that can generate builds quickly
lineages = ['P.1.1', 'A.23.1', 'C.37']
lineage_report = '/NetDrive/Projects/COVID-19/Other/master_fasta/lineage_report_all*plearn.csv'
master_fasta = '/NetDrive/Projects/COVID-19/Other/master_fasta/complete_all*'
nextalign = '/NetDrive/Projects/COVID-19/Other/master_fasta/alignment/complete_all*'
cache = ''
tracedir = "${params.output_dir}/pipeline_info"
refineseed = 10
clean_dir = false
make_alignment = false
}

// https://nf-co.re/usage/configuration#tuning-workflow-resources
process {
    withLabel: 'med_mem' {
    cpus = 1
    executor = 'local'
    scratch=true
  }

}

profiles {
    standard {
        executor = 'local'
	cpus = 50
    }
    singularity {
	process.container = "file:///${baseDir}/nextflow_nextstrain.sif"
	singularity.enabled = true
	singularity.cacheDir = params.cache
	singularity.autoMounts = true
        singularity.envWhitelist = "SINGULARITY_BIND"
	singularity.runOptions= "--bind /NetDrive/Projects/COVID-19/Other/master_fasta/,/NetDrive:/src"

	}
    docker{
	process.container = "nextflow_nextstrain:latest"
	docker.sudo = false
	docker.enabled = true
	docker.temp = 'auto'
	// memory limits are set for each process that is functionally run in its own container instance
	docker.runOptions = '-m 3g --memory-swap 5g --cpus 1'
}
    conda {
        process.conda = "${baseDir}/environments/environment.yml"
	conda.cacheDir = params.cache
}
}

executor {
      name = 'local'
      cpus = 50
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
  name = 'nextflow_nextstrain'
  author = 'PHO BCC'
  homePage = 'https://repo.coreontario.ca/COVID-19/ncov-nf/tree/master/nextstrain'
  description = 'Full Nextflow pipeline for creating Nextstrain builds'
  mainScript = 'main.nf'
  nextflowVersion = '>=21.04.0'
}







