
params {

subset_number = 200
clockfilteriqd = 10
alignment_ref = '/home/mwatson/COVID-19/reference/reference.gb'
metadata = '/home/mwatson/COVID-19/nextstrain_build/June_8_2021/Nextstrain_metadata_080621.csv'
output_dir = '/home/mwatson/COVID-19/one_off/nextflow_nextstrain_tests'
colortsv = '/home/mwatson/COVID-19/nextstrain_build/config/colors_2.tsv'
config = '/home/mwatson/COVID-19/nextstrain_build/config/auspice_config.json'
latlong = '/home/mwatson/COVID-19/nextstrain_build/config/lat_ontario_health_unit.tsv'
clades = '/home/mwatson/COVID-19/nextstrain_build/clades.tsv'
// threads set to auto uses the total number of cores for each process of align and tree
threads = 16
cleanup = true
iteration = 11
clock = 10

}
