
params {


alignment_ref = '/home/mwatson/COVID-19/reference/reference.gb'
output_dir = '/home/mwatson/COVID-19/one_off/tree_annotation'
// threads set to auto uses the total number of cores for each process of align and tree
threads = 1
cleanup = true
lineages = ['P.1.1', 'A.23.1', 'C.37']
lineage_report = '/NetDrive/Projects/COVID-19/Other/master_fasta/lineage_report_all*'
master_fasta = '/NetDrive/Projects/COVID-19/Other/master_fasta/complete_all*'
cache = ''
tracedir = "${params.output_dir}/pipeline_info"

}

// https://nf-co.re/usage/configuration#tuning-workflow-resources
process {
    withLabel: 'med_mem' {
    cpus = 1
    executor = 'local'
    scratch=true
  }

}

profiles {
    standard {
        executor = 'local'
	cpus = 50
    }
}

executor {
      name = 'local'
      cpus = 50
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
  name = 'nextflow_tree_annotation'
  author = 'PHO BCC'
  homePage = 'https://repo.coreontario.ca/COVID-19/ncov-nf/tree/master/nextstrain'
  description = 'Full Nextflow pipeline for creating Nextstrain builds'
  mainScript = 'main.nf'
  nextflowVersion = '>=21.04.0'
}







